.line {
    width: 1884px;
    display: grid;
    margin-bottom: 3px;
    height: 1em;
    grid-template-columns: repeat(7, 90px 800px 530px 150px 110px 150px 70px);
}

.line-header {
    margin-bottom: 12px;
    font-size: rem(19px);
    font-weight: 600;
    color: rgb(200, 171, 26);
    font-family: 'Ubuntu-Regular';
}

.cell-container [data-kind="digit"] {
    background-color: rgb(10, 10, 12);
    border: 1px solid rgb(32, 30, 27);
    color: rgb(150, 159, 168);
}

.n-and-b {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.beer-name {
    width: 500px;
}

.beer-brewery {
    width: 300px;
}