.line {
    width: 2395px;
    display: grid;
    margin-bottom: 3px;

    height: 1em;
    grid-template-columns: repeat(7, 90px 950px 860px 150px 110px 150px 70px);
}

.line-header {
    margin-bottom: 20px;
    font-size: rem(25px);
    font-weight: 600;
    color: rgb(200, 171, 26);
    font-family: 'Ubuntu-Regular';
}

.cell-container [data-kind="digit"] {
    background-image: url("../../imgs/15.png");
    // background-color: rgba(0, 255, 255, 0);
    background-size: 230.2%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(32, 30, 27);
    color: rgb(150, 159, 168);
}

.n-and-b {
    width: 860px;
    display: flex;
    // justify-content: space-between;
}

.beer-name {
    width: 1200px;
}

.beer-brewery {
    width: 300px;
}

.beer-type {
    width: 530px;
}