.line {
    // height: 300px;
    // border: 1px solid #eee;
    // border: 1px solid rgb(20, 193, 74);
    width: 1220px;
    display: grid;
    margin-bottom: 3px;
    height: 20px;
    grid-template-columns: repeat(7, 70px 400px 400px 90px 90px 110px 90px);


}

.line-header {
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 600;

}